*{
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    height: 180px;
    border: 5px solid black;
}

main{
    margin-top: 10px;
    height: 800px;
    width: 68%;
    float: left;
}

main .Destaques{
    width: 100%;
    height: 35%;
    border: 5px solid black;
}

main .Caixas{
    width: 100%;
    margin-top: 1%;
    height: 64%;
}

main .Caixa1{
    width: 49.5%;
    height: 100%;
    border: 5px solid black;
    margin-right: 1%;
    float: left;
}

main .Caixa2{
    width: 49.5%;
    height: 100%;
    border: 5px solid black;
    float: right;
}
aside{
    margin-top: 10px;
    margin-left: 1%;
    height: 800px;
    width: 31%;
    display: inline-block;
}

aside .CaixaBusca{
    width: 100%;
    height: 10%;
    border: 5px solid black;
}

aside .MaisLidos{
    width: 100%;
    height: 40%;
    border: 5px solid black;
}

aside .Galeria{
    width: 100%;
    height: 50%;
    border: 5px solid black;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 180px;
    border: 5px solid black;
}
